<h1>クエスト一覧</h1>

<% @quests.each do |quest| %>
  <h2><%= link_to quest.title, quest_path(quest) %></h2>
  <p>作成者: <%= quest.user.name %></p>
  <p>難易度: <%= quest.difficulty %></p>
  <p>報酬: <%= quest.reward %></p>
  <%= link_to "応募する", new_quest_application_path(quest_id: quest.id) %>

  <hr>
<% end %>

<%= link_to "New Quest", new_quest_path %>