<h1>New Quest</h1>
<%= form_with(model: @quest, local: true) do |form| %>
  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% @quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, Quest.categories.keys, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :difficulty %>
    <%= form.select :difficulty, Quest.difficulties.keys, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reward %>
    <%= form.number_field :reward, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :public %>
    <%= form.check_box :public, {}, class: "form-check-input" %>
  </div>

  <div class="form-group">
    <%= form.label :application_end_date %>
    <%= form.date_field :application_end_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :attachments %>
    <%= form.file_field :attachments, multiple: true, class: "form-control" %>
  </div>

  <%= form.submit "Create Quest", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", quests_path, class: "btn btn-secondary" %>


