<p>報酬: <%= @quest.reward %></p>
<p>説明: <%= @quest.description %></p>
<% if @quest.file.attached? %>
  <%= link_to "ファイルをダウンロードする", url_for(@quest.file) %>
<% end %>

<%= link_to "応募しますか？", applications_path(application: {quest_id: @quest.id}), method: :post %>

<% if current_user == @quest.user %>
  <%= link_to "クエストボード", quests_path %>
  <%= link_to "クエストを編集する", edit_quest_path(@quest) %>
  <%= link_to "クエストを削除する", @quest, method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>
