<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Bootstrap CSSの追加 -->
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %> 
  </head>
  
  <!-- ヘッダーの部分 -->
  <%= render partial: 'layouts/_partials/header' %>
  
  <!-- bodyの部分 -->
  <body>
    <%= yield %>
  </body>
  
  <!-- フッターの部分 -->
  <%= render partial: 'layouts/_partials/footer' %>


</html>
