<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  
  <header>
    <%= link_to 'クエスト一覧', quests_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= link_to "ユーザー登録", new_user_registration_path %>
    <%= link_to "パスワードを忘れた場合", new_user_password_path %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
